.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7px;
}
body{
    background-color: rgb(27,27,27);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
.card{
    background-color: white;
    width: 270px;
    height: 450px;
    margin: 10px;
    border-radius: 5px;
    border-radius: 10px;
 
  
}
.card-image{
    
    height: 150px;
    margin-bottom: 10px;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
.img1{
  background-image: url(picture/car1.jpg);

}
.img2{
    background-image: url("picture/car3.jpg");
    background-position: center;
}
.img3{
    background-image: url("picture/car5.jpg");
    background-position: center;

}
.card h2{
    padding: 10px;
}
.card p{
    padding: 5px;
}

.card a{

background-color: black;
color: white;
padding: 10px;
display: block;
text-align: center;
max-width: 150px;
margin:10px auto;
text-decoration: none;
}
a:active{
    color:red;
}

.card:hover{
    background-color: rgb(62,62,62);
    color:white;
    cursor: pointer;
transform: scale(1.03);
transition:all 1s ease;

}